<p>
</p>
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <a class="btn btn-outline-light btn-lg" href="/universities" role="button">View University</a>
        </div>
      </div>
    </div>
  </div>

