<p>
</p>
<div class="p-5 text-left bg-light">
  <h1>University List</h1>

  <a class="btn btn-warning mb-3">Add University</a>
  <a class="btn btn-warning mb-3">Delete Univeristy</a>

  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <script src = 'universities.component.ts'></script>

          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">View Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let university of universities">
            <td>{{ university.id }}</td>
            <td>{{ university.name }}</td>
            <td>
              <button (click) = "universityDetails(university.id)" type="button" class="btn btn-primary">View Detail </button> <!--university/university.id-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div >
      <!-- <app-university [university] = "selectedUniversity"></app-university> -->
  </div>

</div>
<!--
<h2> University List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{universities}} </td>
            <td> {{ employee.lastName }} </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table> -->
